* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.25px;
  }
  body {
    overflow: hidden;
    height: 100%;
    background-color: silver;
  }
  #canvas1 {
    position: absolute;
    background-color: #071108;
    letter-spacing: 3px;
    word-spacing: 1.25px;
  }
  #clickMe_button {
    width: 200px;
    height: 50px;
    background: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
  }
  #clickMe_button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-radius: 5px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    animation: border-top 3s infinite alternate;
  }
  #clickMe_button::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-radius: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    animation: border-bottom 3s infinite alternate;
  }
  @keyframes border-top {
    0% {
      width: 0px;
      height: 0px;
    }
    25% {
      width: 198px;
      height: 0;
    }
    50% {
      width: 198px;
      height: 48px;
    }
    100% {
      width: 198px;
      height: 48px;
    }
  }
  @keyframes border-bottom {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0;
    }
    50% {
      width: 0px;
      height: 0px;
      opacity: 0;
    }
    50.1% {
      width: 0px;
      height: 0px;
      opacity: 1;
    }
    75% {
      width: 198px;
      height: 0px;
      opacity: 1;
    }
    100% {
      width: 198px;
      height: 48px;
      opacity: 1;
    }
  }
  #clickMe_button:hover {
    transform: translateY(-1px) scale(1.1, 1.1); /* 
    Moves the button up by 10px */
  
  }
  #drop_container{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    border:5px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: divColorChange 10s infinite;
  }
  @keyframes divColorChange {
    0%{
        border-left-color: transparent;
    }
    25%{
        border-top-color: white;
    }
    50%{
        border-right-color: white;
    }
    75%{
        border-bottom-color: white;
    }
    100%{
        border-left-color: white;
    }
    
  }
  #click_event_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-250%);
  }
  #text_display{
    border: 1px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,250%);
  }